@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --bg-color: #00000;
  --text-color: #e0e0e0;
}

.bg-dark {
  background-color: var(--bg-color);
}

.text-dark {
  color: var(--text-color);
}